@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  animation: fade 0.1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

